.BusketWrapper{
    display: flex;
    width: 100%;
    padding: 20px 50px;
}

.BusketCardSWrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
}

h2{
    margin: 20px 50px;
    font-size: 30px;
}

.BusketSumWrapper{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 250px;
    padding: 20px;
}

h3{
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 20px;
}
.BusketSum{
    font-size: 20px;
    margin-bottom: 40px;
}

.BusketButton{
    margin: 0 10px;
    cursor: pointer;
    font-size: 20px;
    height: 30px;
}