.userRow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    font-size: 20px;
    margin: 0 auto;
    width: 90%;
}


.usersWrapper{
    display: flex;
    gap: 30px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 10px;
    margin: 10px auto;
    width: 100%;
}

.saveButton{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.deleteButtonWrapper{
    display: flex;
    align-items: center;
    gap: 10px;
}

.deleteButton{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.userLogin{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
}

.userPhone{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
    width: 300px;
}

.userRegisterDate{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
}

.userRole{
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.RoleSelect{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background-color: #FF4301;
    border: 1px solid black;
    padding: 5px;
    cursor: pointer;

}