.ErrorPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    margin:40vh auto;
    gap: 20px;
}

.ErrorPageTitle{
    font-size: 40px;
    font-weight: 700;
    color: #FA7D09;
    text-shadow: 0 0 10px #FA7D09;
}

.ErrorPageText{
    font-size: 30px;
    font-weight: 500;
    color: #FA7D09;
}

.ErrorPageButton{

    font-size: 20px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: #FA7D09;
    color: black;
    cursor: pointer;
}