.ErrorPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    gap: 20px;
}

.ErrorPageTitle{
    font-size: 40px;
    font-weight: 700;
    color: #FA7D09;
}

.ErrorPageText{
    font-size: 30px;
    font-weight: 500;
    color: #FA7D09;
}