.NavMenuWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.NavMenuItem{
    padding: 20px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    font-size: 20px;
    line-height: 26px;
    color: var(--acent-color);
}

.NavMenuItem:hover{
    background-color: var(--acent-color);
    color: black;
}