 .SearchBarWrapper{
    width: 100%;
    padding: 20px 50px 0 50px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SearchBarInput{
    width: 50%;
    height: 30px;
    letter-spacing: 1.5rem;
 /* background-image: linear-gradient(to right, #000000, #141110, #201b19, #2a2621, #33322a); */
 background-color: transparent;
    border: none;
    /* border-bottom: 2px solid #FA7D09; */
    border-radius: 20px;
    color: #FA7D09;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;

}

.SearchBarInput::placeholder{
    color: #FA7D09;
}

.SearchBarInput:focus{
    letter-spacing: normal;
    outline: none;
    border: 2px solid #FA7D09;
    transition: 0.3s ease-in-out all;
    -webkit-box-shadow: 12px 23px 32px 10px rgba(255, 67, 1, 0.2);
    -moz-box-shadow: 12px 23px 32px 10px rgba(255, 67, 1, 0.2);
    box-shadow: 12px 23px 32px 10px rgba(255, 67, 1, 0.2);
}

.SearchBarIcon{
    width: 30px;
    height: 30px;
    cursor: pointer;

}

.SearchBarEraseIcon{
    width: 25px;
    height: 25px;
    cursor: pointer;

}
