.MainContentWrapper{
    padding: 20px 50px ;
    display: flex;

}

.SliderWrapper{
    width: 30%;
    height: 70dvh ;
    justify-content: space-between;
    background-color: blue;
}

.Content{
    padding:0 50px;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 70dvh;
    background-color: red;
}

