.MainContentWrapper{
    padding: 20px 50px ;
    display: flex;
    gap: 20px
    ;

}

.SliderWrapper{
    width: 30%;
    height: 80dvh ;
    justify-content: space-between;
}

.Content{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 70dvh;
}

