.SortBarWrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
  /* flex-direction: column;
  width: 30%; */
}

.SortBarContent {
  display: flex;
  justify-content: space-around;
  width: 20%;
  margin-top: 20px;
  /* border: 4px solid black; */
  border-radius: 10px;
  /* background-image: linear-gradient(
    to right,
    #000000,
    #141110,
    #201b19,
    #2a2621,
    #33322a
  ); */
}




.SortBarSpan {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  font-size: 20px;
  font-weight: 700;
  color: #ff4301;
  cursor: pointer;
  border-radius: 5px;
}

.SortBarSpan:hover {
  cursor: pointer;
  background-color: #fa7d09;  
  transition: 0.3s ease-in-out all;
  -webkit-box-shadow: 12px 23px 32px 10px rgba(255, 67, 1, 0.2);
  -moz-box-shadow: 12px 23px 32px 10px rgba(255, 67, 1, 0.2);
  box-shadow: 12px 23px 32px 10px rgba(255, 67, 1, 0.2);

}

.SortBarIcon {
  width: 50px;
  height: 50px;
}

.SortBarTitle{
  margin-right: 20px;
  font-size: 20px;
  font-weight: 500;
  color: #ff4301;
}

.SortBarSelect{
  /* width: 100px; */
  height: 40px;
  font-size: 20px;
  font-weight: 500;
  color: #ff4301;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: rgba(0, 0, 0, 0.356);
  cursor: pointer;
}

.SortBarOption{
  font-size: 20px;
  font-weight: 500;
  color: black;
  background-color: #E97608;
}

