.SortBarContent {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
  padding: 5px 0;
  -webkit-box-shadow: 5px 5px 34px 4px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 5px 5px 34px 4px rgba(0, 0, 0, 0.6);
  box-shadow: 5px 5px 34px 4px rgba(0, 0, 0, 0.6);
  border: 2px solid #ff4301;
  border-radius: 10px;
}

.SortBarSpan {
  font-size: 20px;
  font-weight: 700;
  color: #ff4301;
  cursor: pointer;
  padding: 10px 105px;
  border-radius: 5px;
}

.SortBarSpan:hover {
  background-color: #ff4301;
  color: black;
}
