.SortBarWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    margin-top: 10px;
    padding:0px 40px;
}

.AppWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    margin: 0 auto;
    height: calc(100vh - 130px);
}

.MainSection{
    display: flex;
    padding: 10px 50px;
    width: 100%;
    flex-grow: 1;
}
