.AppWrapper{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    margin: 0 auto;
    /* background-image: linear-gradient(to right, #000000, #141110, #201b19, #2a2621, #33322a); */
    overflow: hidden;
    min-height: 100dvh;
}

.MainSection{
    display: flex;
    padding: 10px 50px;
    width: 100%;
    flex-grow: 1;
}
