.AdminPanelWrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 50px;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    background-color: #ED780A;
    
}

.AdminPanelDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 60%;
    cursor: pointer;
}

.AdminPanelSummary{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.OrdersWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.Order{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 20px;
    border: 1px solid black;
    border-radius: 10px;
}