.BusketCardWrapper{
    display: flex;
    /* width: 70%; */
    justify-content: space-between;
    padding: 10px 20px;
    margin-bottom: 25px;
}

.BusketCardImage{
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

.BusketCardInfo{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.BusketCardInfoWrapper{
    display: flex;
    justify-content: space-evenly; 
    margin-top: 20px;
}

.BusketCardInfoItem{
    display: flex;
    flex-direction: column;
}

.BusketCardName{
    font-size: 20px;
    margin-bottom: 20px;
}

.BusketCardNamber{
    font-size: 20px;
    margin-bottom: 20px;
}

.BusketCardButtonWrapper{
    display: flex;
    justify-content: space-evenly;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: ;
}

.BusketCardButton{
    width: 30px;
    height: 30px;
    border-radius: 50%; 
    cursor: pointer;
}